body{
    background-color: chocolate;
    text-align: center;
}

.login1{
    background-color: wheat;
    float: none;
    padding: 10px;
    border-radius: 15px;
}

.login2{
    background-color: wheat;
    padding: 10px;
	float: none;
	border-radius: 15px;
}
